<!DOCTYPE HTML>
<html>
    
    <head>
        
    </head>
    
    <body>
        
        <p> 
        
        You have received feedback from the contact form.
        
        From <%= "#{name}, #{email}." %> 
        
        </p>
        
        <p> <%= @body %>
        
        </p>
        
    </body>
    
</html>